<div *ngIf="desc && desc.type && desc.type !== 'object' && desc.type !== 'array'">
    <button class="entity-mutator" (click)="clearVal();"  color="accent" mat-mini-fab>Clear</button>
</div>
<div *ngIf="desc && desc.type && desc.type === 'array'">
    <button class="entity-mutator" (click)="addArrElement();"  color="accent" mat-mini-fab>Add</button>
</div>
<div [ngSwitch]="desc.type" class="data-entry-entity">
    <div *ngSwitchCase="'object'">
        <h2>{{ desc.title || 'Unknown' }}: Object</h2>
        <div *ngFor="let prop of propsArr">
            <app-data-entry-entity [desc]="prop" [prefix]="getPrefix(prop.title)"></app-data-entry-entity>
        </div>

    </div>
    <div *ngSwitchCase="'string'">
        <div>
            <label>{{ desc.title || 'Prop'}}: String</label>
        </div>
        <mat-form-field>
            <input type="text" #input matInput placeholder="label" [(ngModel)]="value" (ngModelChange)="onValueChanged(input.value)">
        </mat-form-field>

    </div>
    <div *ngSwitchCase="'integer'">
        <div>
            <label>{{ desc.title || 'Prop'}}: Integer</label>
        </div>
        <mat-form-field>
            <input type="number" #input matInput step="1" [min]="desc.minimum" [max]="desc.maximum" placeholder="label" [(ngModel)]="value"
                (ngModelChange)="onValueChanged(input.value)">
        </mat-form-field>
    </div>
    <div *ngSwitchCase="'number'">
        <div>
            <label>{{ desc.title || 'Prop'}}: Number</label>
        </div>
        <mat-form-field>
            <input type="number" #input matInput step="0.01" [min]="desc.minimum" [max]="desc.maximum" placeholder="label" [(ngModel)]="value"
                (ngModelChange)="onValueChanged(input.value)">
        </mat-form-field>
    </div>
    <div *ngSwitchCase="'array'">
        <div>
            <label>{{ desc.title || 'Prop'}}: Array</label>
        </div>
        <div *ngFor="let obj of value; index as i" [attr.data-index]="i">
            <app-data-entry-entity [desc]="desc.items" [prefix]="getPrefix(i)"></app-data-entry-entity>
        </div>
    </div>
    <div *ngSwitchCase="'boolean'">
        <div>
            <div><label>{{ desc.title || 'Prop'}}: Boolean</label></div>
            <mat-form-field>
                <mat-select [(ngModel)]="value" (ngModelChange)="onValueChanged(value)">
                    <mat-option [value]="true">True</mat-option>
                    <mat-option [value]="false">False</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div *ngSwitchDefault>
        <p color="red">{{ desc.type }} is an unknown type.</p>
    </div>
</div>