.mat-select {
    width: 200px;
}

.data-entry-entity {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.entity-mutator {
    position: relative;
    bottom: -5px;
    margin: 5px;
    margin-bottom: -12px;
}