.widget {
    width: 800px;
    max-width: 100%;
    max-width: calc(100% - 20px);
    margin: auto;
    padding: 20px;
}
mat-grid-tile.grid-tiles {
    background: lightblue;
}

.col-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.json-text-container, .json-text-container mat-form-field {
    width: 100%;
}
